# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/
source/


# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# MacOS files
.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# MacOS files
.DS_Store
